@import url(
    'https://fonts.googleapis.com/css2?family=Montserrat:' +
    'wght@100;200;300;400;500;600;700;800;900&family=Poppins:' +
    'wght@100;200;300;400;500;600;700;800;900&display=swap'
);

$montserrat: 'Montserrat', sans-serif;

$primary: #202020;
$secondary: #101010;

$accent: #E9204F;
$accent-hovered: #80102a;

$red: red;
$red-hovered: rgb(140, 0, 0);


* {

    font-family: $montserrat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {

    background-color: rgb(70, 70, 70);
    place-items: center;
    display: grid;
    height: 100vh;
    width: 100%;

}

.container {

    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 300px;
    display: grid;
    height: 100%;
    width: 100%;

    .char_sel {

        justify-content: center;
        flex-direction: row;
        align-items: center;
        grid-row: 2;
        display: flex;
        gap: 25px;

        &_col {

            grid-template-columns: 5px 1fr 5px;
            grid-template-rows: 5px 1fr 5px;
            background-color: $primary;
            border-radius: 5px;
            transition: 0.1s ease all;
            display: grid;
            height: auto;
            width: 250px;

            &_create {

                grid-template-columns: 1fr;
                grid-template-rows: 1fr 30px;
                grid-column: 2;
                grid-row: 2;
                row-gap: 5px;
                display: grid;
                height: 300px;

                &_placeholder {

                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    background-color: $secondary;
                    place-items: center;
                    display: grid;
                    height: 100%;
                    width: 100%;

                    i {

                        transition: 0.1s ease all;
                        font-size: 1rem;
                        color: white;

                    }

                }

                &_btn {

                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    background-color: $accent;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    transition: 0.1s ease all;
                    display: flex;

                    i {

                        margin-right: 5px;
                        font-size: 0.8rem;
                        color: white;

                    }

                    h2 {

                        font-weight: 500;
                        font-size: 0.8rem;
                        color: white;

                    }

                }

                &_btn:hover {

                    background-color: $accent-hovered;
                    cursor: pointer;

                }

            }

            &_view {

                grid-template-columns: 1fr;
                grid-template-rows: 30px 1fr 65px;
                grid-column: 2;
                grid-row: 2;
                row-gap: 5px;
                display: grid;
                height: 300px;  

                &_header {

                    background-color: $secondary;
                    border-radius: 5px;
                    align-items: center;
                    grid-row: 1;
                    display: flex;
                    border: 1px solid $primary;

                    h1 {

                        margin-left: 5px;
                        font-weight: 600;
                        font-size: 0.8rem;
                        color: white;

                    }

                }

                &_info {

                    background-color: $secondary;
                    border-radius: 5px;
                    overflow-y: auto;
                    grid-row: 2;
                    border: 1px solid $primary;

                }

                &_options {

                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 30px);
                    grid-row: 3;
                    row-gap: 5px;
                    display: grid;

                    &_delete {

                        background-color: $secondary;
                        justify-content: center;
                        border-radius: 5px;
                        align-items: center;
                        transition: 0.1s ease all;
                        display: flex;
                        border: 1px solid $primary;

                        i {

                            margin-right: 5px;
                            font-size: 0.8rem;
                            color: white;

                        }

                        h2 {

                            font-weight: 500;
                            font-size: 0.8rem;
                            color: white;

                        }

                    }

                    &_delete:hover {

                        background-color: $red;
                        cursor: pointer;

                    }

                    &_spawn {

                        background-color: $accent;
                        justify-content: center;
                        flex-direction: row;
                        border-radius: 5px;
                        align-items: center;
                        transition: 0.1s ease all;
                        display: flex;

                        i {

                            margin-right: 5px;
                            font-size: 0.8rem;
                            color: white;

                        }

                        h2 {

                            font-weight: 500;
                            font-size: 0.8rem;
                            color: white;

                        }

                    }

                    &_spawn:hover {

                        background-color: $accent-hovered;
                        cursor: pointer;

                    }

                }

            }

        }

    }

}