@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$montserrat: 'Montserrat', sans-serif;

* {

    font-family: $montserrat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {

    background-color: rgb(53, 53, 53);
    place-items: center;
    display: grid;
    height: 100vh;

}

.container {

    background-color: #111111;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    display: flex;
    height: 900px;
    width: 1400px;

    .ems-container {

        background-color: #202020;
        height: 860px;
        width: 1360px;

        display: none;

    }

    .civilian-container {

        background-color: #202020;
        height: 860px;
        width: 1360px;
        
        display: none;

    }

}

::-webkit-scrollbar {

    width: 10px;

  }

  ::-webkit-scrollbar-track {
    background: #111; 
  }

  ::-webkit-scrollbar-thumb {
    transition: 0.1s ease all;
    background: rgb(118, 118, 118); 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 201, 201); 
  }

@mixin border-thin {

    border: 1px solid #ffffff1b;

}

@mixin h2-styling {
    
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;

}

@mixin h3-styling {

    font-weight: 300;
    font-size: 0.75rem;
    color: white;

}